@import-normalize; /* bring in normalize.css styles */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #140e12;

  color: #f0fff8d4;
  line-height: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #f0fff8d4;
}

img {
  display: block;

  object-fit: contain;
}

p {
  letter-spacing: 0.2px;
}

ul,
li,
h2,
p,
h1,
h3 {
  margin: 0;
  padding: 0;
  color: #f0fff8d4;
}

ul {
  list-style: none;
}
